@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
  background-color: #ffffff;
}
.App {
  width: 500px;
  margin: 120px auto 0;
}

@media screen and (max-width: 500px) {
  .App {
    width: 300px;
  }
}