p {
  margin: 0;
}

.countriesWrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countryInput {
  width: 300px;
  padding: 5px 15px;
  outline: none;
}

.container {
  display: none;
  width: 330px;
  overflow: auto;
  height: 70vh;
  margin: 20px auto 0;
}

.countryFlag {
  width: 50px;
  border: 1px solid black;
}

.countryDiv {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.countryName {
  margin: 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
