.postComponent {
    margin-top: 60px;
}

.createPostWrapper {
    display: flex;
    flex-direction: column;
    background-color: #b7c9ec;
    width: 400px;
    margin: 0 auto;
    padding: 40px;
    padding-top: 20px;
}

.textArea {
    margin-top: 20px;
    width: 400px;
}