.wrapper {
    text-align: center;
}

.headerText {
    margin-top: 60px;
}

.formWrapper {
  width: 400px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.btnWrapper {
  margin-top: 30px;
}

.btn {
  width: 100%;
}