.formWrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genderGroup {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.genderGroup p {
    margin: 0 0 10px 0;
}

.inputGroup {
}

.input {
    width: 250px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #00bbff;
    outline: none;
}

.submitBtn {
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    background-color: inherit;
    border: 1px solid #00bbff;
    margin-top: 20px;
}

.submitBtn:hover {
    background-color: #00bbff;
    transition: 0.3s;
}

.validationStyle {
    color: red;
    height: 25px;
    margin: 5px 0;
}